<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Search Engine</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script>
        function logout() {
            location.href = "{{ url_for('auth.logout') }}";
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Video Search Engine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a#>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="logout()">Logout</button>
        </div>
    </nav>

    <form action="{{ url_for('views.search') }}" method="POST">
        <div class="search-container">
            <input type="text" name="search_query" id="search-bar" placeholder="Search" value="{{search_query}}">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>

    <div class="main-container">
        <div id="video-panel">
            <div id="video-container"></div>

            <div id="search-results-panel">
            </div>
        </div>
    </div>

    <div id="side-panel">
        <ul id="suggested-videos">
            {% for video in search_results %}
            <li class="suggestion-link" data-video-id="{{video.videoId}}" data-search-query="{{search_query}}">
                <a href="{{ url_for('views.video', video_id=video.videoId) }}">
                    <div class="suggestion-box">
                        <div class="suggestion-thumbnail">
                            <img src="{{ video.thumbnails.high.url }}" alt="Video Thumbnail">
                        </div>
                        <div class="suggestion-details">
                            <div class="suggestion-title">{{ video.title }}</div>
                            <div class="suggestion-description">
                                {% set description_text = video.description[:100] + '...' if
                                video.description|length > 100 else video.description %}
                                {{ description_text }}
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        $(document).ready(function () {
            $('.suggestion-link').click(function (e) {
                e.preventDefault();
                var videoId = $(this).attr('data-video-id');
                var searchQuery = $(this).attr('data-search-query');

            var data = {
                'search_query': searchQuery,
                'video_clicked': videoId
            };

            $.ajax({
                type: 'POST',
                url: `{{ url_for('views.save_search_query') }}`,
                data: JSON.stringify(data),
                contentType: "application/json;charset=UTF-8",
                success: function (response) {
                    console.log(response);
                }
            });
            window.location.href = $(this).find('a').attr('href');
            });
        });
    </script>
</body>

</html>