<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Search Engine</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script>
        function logout() {
            location.href = "{{ url_for('auth.logout') }}";
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Video Search Engine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a#
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="logout()">Logout</button>
        </div>
    </nav>

    <form action="{{ url_for('views.search') }}" method="POST">
        <div class="search-container">
            <input type="text" name="search_query" id="search-bar" placeholder="Search" value="{{search_query}}">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>

    <div class="main-container">
        <div id="video-panel">
            <div id="video-container"></div>

            <div id="search-results-panel">
            </div>
        </div>
    </div>

    <script>
        const searchResults = {{ search_results| tojson | safe}};

        const searchResultsPanel = document.getElementById("search-results-panel");
        searchResultsPanel.innerHTML = "";

        searchResults.forEach((result) => {
            const resultBox = document.createElement("div");
            resultBox.classList.add("suggestion-box");

            const thumbnail = document.createElement("div");
            thumbnail.classList.add("suggestion-thumbnail");
            const thumbnailImage = document.createElement("img");
            thumbnailImage.src = result.thumbnails.default.url;
            thumbnail.appendChild(thumbnailImage);

            const details = document.createElement("div");
            details.classList.add("suggestion-details");

            const title = document.createElement("div");
            title.classList.add("suggestion-title");
            title.textContent = result.title;

            const description = document.createElement("div");
            description.classList.add("suggestion-description");
            let descriptionText = result.description;
            if (descriptionText.length > 100) {
                descriptionText = descriptionText.substring(0, 100) + "...";
            }
            description.textContent = descriptionText;

            details.appendChild(title);
            details.appendChild(description);
            resultBox.appendChild(thumbnail);
            resultBox.appendChild(details);

            searchResultsPanel.appendChild(resultBox);
        });



    </script>
</body>

</html>