<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoQuest</title>
</head>
<body>
    <form method="post" action="{{ url_for('api.analyze_comment') }}">
        <label class="form-label" for="email">Comment</label>
        <textarea id="comment" name="comment" rows="4" cols="50" placeholder="Enter your comment here..."></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>