<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Search Engine</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function logout() {
            location.href = "{{ url_for('auth.logout') }}";
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Video Search Engine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="logout()">
                Logout
            </button>
        </div>
    </nav>

    <form action="{{ url_for('views.search') }}" method="POST">
        <div class="search-container">
            <input type="text" name="search_query" id="search-bar" placeholder="Search" value="" />
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>

    <div class="main-container">
        <div id="video-panel">
            <h2>Current Video</h2>
            <div id="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0"
                    allowfullscreen="true"></iframe>
            </div>

            <form method="post" action="{{ url_for('views.like') }}">
                <div id="video-buttons">
                    <p id="like-count">Likes: {{ current_video_data.likeCount }}</p>
                    {% if liked %}
                    <button class="vote-btn active" id="like-button" type="submit" name="action" value="like">
                        <i class="fa fa-thumbs-up"></i>
                    </button>
                    {% else %}
                    <button class="vote-btn" id="like-button" type="submit" name="action" value="like">
                        <i class="fa fa-thumbs-up"></i>
                    </button>
                    {% endif %}

                    <p id="dislike-count">
                        Dislikes: {{ current_video_data.dislikeCount }}
                    </p>
                    {% if disliked %}
                    <button class="vote-btn active" id="dislike-button" type="submit" name="action" value="dislike">
                        <i class="fa fa-thumbs-down"></i>
                    </button>
                    {% else %}
                    <button class="vote-btn" id="dislike-button" type="submit" name="action" value="dislike">
                        <i class="fa fa-thumbs-down"></i>
                    </button>
                    {% endif %}
                </div>
            </form>
            <form method="post" action="{{ url_for('views.subscribe') }}">
                <div id="video-buttons">
                    {% if subscribed %}
                    <button class="subscribe-btn active" id="subscribe-button" type="submit" name="action"
                        value="subscribe">
                        SUBSCRIBED
                    </button>
                    {% else %}
                    <button class="subscribe-btn" id="subscribe-button" type="submit" name="action" value="subscribe">
                        SUBSCRIBE
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>

        <div id="side-panel">
            <h2>Video Suggestions</h2>
            <ul id="suggested-videos">
                {% for video in suggested_videos %}
                <li class="suggestion-link">
                    <a href="{{ url_for('views.video', video_id=video.videoId) }}">
                        <div class="suggestion-box">
                            <div class="suggestion-thumbnail">
                                <img src="{{ video.thumbnails.default.url }}" alt="Video Thumbnail" />
                            </div>
                            <div class="suggestion-details">
                                <div class="suggestion-title">{{ video.title }}</div>
                                <div class="suggestion-description">
                                    {% set description_text = video.description[:100] + '...' if
                                    video.description|length > 100 else video.description %} {{
                                    description_text }}
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.vote-btn').click(function (e) {
                e.preventDefault();
                var action = $(this).attr('value');
                var video_id = {{ video_id|tojson }};
        // console.log(action, video_id)
        var data = {
            'action': action,
            'video_id': video_id
        };
        // console.log(data);

        $.ajax({
            type: 'POST',
            url: `{{ url_for('views.like') }}`,
            data: JSON.stringify(data),
            contentType: "application/json;charset=UTF-8",
            success: function (response) {
                var likeButtonElement = document.getElementById('like-button');
                var dislikeButtonElement = document.getElementById('dislike-button');

                if (response.liked) {
                    likeButtonElement.classList.add('active');
                    dislikeButtonElement.classList.remove('active');
                } else if (response.disliked) {
                    dislikeButtonElement.classList.add('active');
                    likeButtonElement.classList.remove('active');
                } else {
                    likeButtonElement.classList.remove('active');
                    dislikeButtonElement.classList.remove('active');
                }

                var likeCountElement = document.getElementById('like-count');
                likeCountElement.textContent = `Likes: ${response.likeCount}`;

                var dislikeCountElement = document.getElementById('dislike-count');
                dislikeCountElement.textContent = `Dislikes: ${response.dislikeCount}`;

                // console.log(response.liked, response.disliked, response.likeCount, response.dislikeCount);
            }
        });
          });
      });
    </script>

    <script>
       $(document).ready(function () {
            $('.subscribe-btn').click(function (e) {
                e.preventDefault();
                var action = $(this).attr('value');
                var video_id = {{ video_id|tojson }};
        // console.log(action, video_id)
        var data = {
            'action': action,
            'video_id': video_id
        };
        // console.log(data);

        $.ajax({
            type: 'POST',
            url: `{{ url_for('views.subscribe') }}`,
            data: JSON.stringify(data),
            contentType: "application/json;charset=UTF-8",
            success: function (response) {
                var subscribeButtonElement = document.getElementById('subscribe-button');
                if (response.subscribed) {
                    subscribeButtonElement.classList.add('active');
                    subscribeButtonElement.textContent = 'SUBSCRIBED';
                } else {
                    subscribeButtonElement.classList.remove('active');
                    subscribeButtonElement.textContent = 'SUBSCRIBE';
                }
                // console.log(response.subscribed)
            }
        });
          });
      });
    </script>
</body>

</html>